{% extends "admin/adminpage.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">

     <table class="table table-striped">
        <thead class="">
            <tr class="">
                <th scope="col">SL NO</th>
                 <th scope="col">NAME</th>
                 <th scope="col">NUMBER</th>
                 <th scope="col">EMAIL</th>
                 <th scope="col">SELLER ID</th>


            </tr>
        </thead>
         <tbody class="">
            <tr>
                {% for i in seller %}
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.email}}</td>
                <td>{{i.seller_id}}</td>
<!--                <td>{{i.document}}</td>-->



            </tr>
         {% endfor %}
         </tbody>
     </table>
</form>


{% endblock %}

